# Environment
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
pip-wheel-metadata/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker volumes
kafka-data/
schema-registry-data/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/
